@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
:root {
  --font-family-sans: 'Noto Sans KR', sans-serif !important;
}
body {
  font-family: var(--font-family-sans);
}
